nav {
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #99999910;
    backdrop-filter: blur(8px);
}
.nav {
    color: var(--black-color);
    width: min(100%, 1200px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo {
    cursor: pointer;
}
.hamburger {
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hamburger .bg {
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--black-color);
    border-radius: 100%;
    transition: 1s ease;
    aspect-ratio: 1/1;
    transform: scale(2, 4);
    z-index: 2;
}
@media only screen and (max-width: 1400px) {
    .hamburger .bg {
        transform: scale(3, 4);
    }
}
@media only screen and (max-width: 700px) {
    .hamburger .bg {
        transform: scale(5, 3);
    }
}
.burger {
    z-index: 3;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--black-color);
    transition: .3s ease;
}
.hamburger.active .burger:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .burger:nth-child(2) {
    transform: translateX(100px);
    opacity: 0;
}
.hamburger.active .burger:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
.hamburger.active .burger {
    background-color: var(--white-color);
}
.hamburger.active .bg {
    width: 100vw;
    height: 100vh;
}
.navbar {
    list-style: none;
    top: 50%;
    z-index: 104;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navbar li {
    margin: 10px 0;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
    transition: .5s ease;
    cursor: pointer;
}
.navbar.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
.navbar li::after {
    position: absolute;
    left: 0;
    width: 0;
    transition: .3s ease;
    bottom: -4px;
    height: 3px;
    border-radius: 20px;
    content: '';
    background-color: var(--white-color);
}
.navbar li:hover {
    transform: skew(-10deg) translate(10px);
}
.navbar li:hover::after {
    width: 100%;
}
.navbar:hover li:not(:hover) {
    filter: blur(5px);
}


@media only screen and (max-width: 700px) {
    .navbar li {
        font-size: 2rem;
        white-space: nowrap;
        margin: 5px 0;
    }
}
/* navbar end */